@font-face {
    font-family: Contour;
    src: url(/fonts/ufonts.com_contour-regular.ttf);
  }
/*
@font-face {
    font-family: Roboto-regular;
    src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Orbitron-bold;
    src: url(/fonts/Orbitron-Bold.ttf);
}

@font-face {
    font-family: Orbitron-regular;
    src: url(/fonts/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Robotomono-regular;
    src: url(/fonts/RobotoMono-Regular.ttf);
}
*/
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Orbitron:bold);

h1, h2, h3, h4 {
    font-family: 'Orbitron:bold';
}

p {
    font-family: 'Roboto+Mono';
}

li {
    font-family: 'Orbitron';
}

figcaption {
    font-family: 'Robotomono+Mono';
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}
